

<div id={{article.url}} class="card">
  <div class="card-body">
    <h2>{{article.title}}</h2>
    <h4>{{article.url}}</h4>
    <p>{{article.date}}</p>
    <p>{{article.contents}}</p>
  </div>
</div>